.text-button {
    border-radius: 4px
    padding: 8px
    background-color: color-button

    font-size: 14px

    z-depth(2)
    transition-shadow()

    &:hover {
        background-color: color-button-hover
    }

    &:active {
        z-depth(8)
    }

    &.toggle:checked {
        background-color: color-highlight

        &:hover {
            background-color: color-highlight-light
        }
    }
}