menu {
    background-color: color-button
    z-depth(2)
}

menuitem {
    margin: 2px 0px
    padding: 4px 16px

    &:hover {
        background-color: color-button-hover
    }

    &:disabled {
        color: color-text-disabled
    }
}