window, dialog {
    background-color: color-background
}

decoration {
    z-depth(4)

    // Extends the window a bit (invisibly) to make it resizeable
    margin: 6px
}

.titlebar {
    background-color: color-titlebar

    // Subdue colors on defocus
    &:backdrop {
        background-color: color-titlebar-unfocused
    }
}

headerbar {
    font-weight: 400
    color: color-titlebar-text

    // Subdue colors on defocus
    &:backdrop {
        color: color-titlebar-unfocused-text
    }
}


// Minimize / Maximize / Close

.titlebutton {
    min-width: 45px
    min-height: 30px

    // Hack to counter-act spacing
    margin-left: -6px

    &:hover {
        background-color: color-titlebar-button-hover

        // Close button
        &:last-child {
            background-color: color-titlebar-close-hover
        }
    }
}
