@import "mixins/material-shadows"
@import "mixins/transition"

// Theme colors
color-background = #252526
color-background-dark = #1E1E1E
color-background-light = #333333
color-background-lighter = #505050

color-text-disabled = #8C8C8C

color-highlight = #0E639C
color-highlight-light = #1177BB

color-titlebar = #3C3C3C
color-titlebar-text = #BCBCBC
color-titlebar-unfocused = color-background-light
color-titlebar-unfocused-text = #8C8C8C
color-titlebar-button-hover = color-background-lighter
color-titlebar-close-hover = #D71526

color-button = color-background-light
color-button-hover = color-background-lighter

// Reset everything in the GTK Theme
* {
    all: unset
}

// Background of selected text
selection {
    background-color: color-highlight
}

@import "widgets/window"
@import "widgets/menu"
@import "widgets/button"